---
import { Image } from "astro:assets";
import takaranImage from "../../../public/takaran.png";
---

<section class="mt-10 flex flex-col items-center">
  <Image
    src={takaranImage}
    alt="たからーん"
    class="w-[10rem] h-[10rem] mask mask-squircle"
  />
  <h1 class="mt-5">
    <div class="text-2xl font-bold">たからーん（濱口 宝）</div>
    <div class="text-gray-500 text-base">@takara2314</div>
  </h1>
</section>
