---
interface Props {
  href: string;
  className: string;
}

const { href, className } = Astro.props;
---

<li>
  <a href={href} class="w-7 h-7">
    <div class={className}>
      <slot />
    </div>
  </a>
</li>
